.saveButton {
    background-color: green;
    font-size: 1.2rem;
    text-align: center;
    width: 6rem;
    margin-left: auto;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

.hideRatingsButton {
    width: 8rem;
    height: 2rem;
    padding: 0.2rem;
    cursor: pointer;
}

.addTagButton {
    color: black;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    display: flex;

    & span {
        margin-left: auto;
    }
}

.errorSaving {
    background-color: crimson;
}