.mechanisms {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.cardContainer {

  /*
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem; */

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.partitionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.editLink {
  background-color: #FFF;
  text-decoration: none;
  color: black;
  padding: 0.2rem;
  border-radius: 5px; 
  border: 5px solid black;
}