.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.partitionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 12;
}

.pageWrapper {
  display: flex;
  gap: 2rem;
}

.leftButton {
  height: 100px;
  width: 40px;
  border-left: 5px solid black;
  border-radius: 20px 0px 0px 20px;
  align-self: flex-end;
  font-weight: 900;
  cursor: pointer;
}

.rightButton {
  height: 80px;
  width: 40px;
  border-right: 5px solid black;
  border-radius: 0px 20px 20px 0px;
  align-self: flex-start;
  font-weight: 900;
  cursor: pointer;
}

.paddedContent {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.moreContent {
  padding-top: 1rem;
  padding: 0rem 0.5rem;
}

.saveButton {
  background-color: #FFF;
  text-decoration: none;
  color: black;
  padding: 0.4rem;
  border: 2px outset buttonborder;
  cursor: pointer;
  margin-top: 20%;
}

.ratingsButton {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  background-color: #FFF;
  max-height: 100px;
  font-size: 0.8rem;

}