.image {
    width: 300px; 
    height: auto;
    border-radius: 20px;
}

.setReviewSelect {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
}