.card {
  display: inline-block; 
  padding: 0;
  gap: 0.5rem;
  position: relative;
  scroll-margin-top: 80px;

  & .cardButton {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 15rem;
    display: block;
    padding: 0;
  }

  & h1 {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
  }
}
