.podWidget {
    padding: 1rem 1.6rem;
    cursor: pointer;
    border-radius: 10px; 
    font-size: 1.2rem;   
    text-decoration: none;
    background-color: white;
    color: black;
}

.buttonWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}