.navBar {
    background-color: #fff;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: 0.2rem 0.8rem;
    position: sticky;
    top: 0px;
    gap: 2rem;
    z-index: 2;

    & input {
        width: 25rem;
    }
}

img {
    margin-right: auto;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

.link:hover {
    color: black
}

.search {
    color: black;
    vertical-align: middle;
    margin-left: 0.2rem;
}

.homeButton {
    background-color: white;
    padding: 0;
}

.searchWrapper {
    margin-right: auto;
}