.navBar {
    background-color: #fff;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: 0.2rem 0.8rem;
    position: sticky;
    top: 0px;
    gap: 2rem;
    z-index: 1000;
    font-weight: 400;
    height: 64px;

    & input {
        width: 25rem;
    }
}

img {
    margin-right: auto;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.link:hover {
    color: black
}

.search {
    color: black;
    vertical-align: middle;
    margin-left: 0.4rem;
}

.homeButton {
    background-color: white;
    padding: 0;
}

.searchWrapper {
    display: flex;
    margin-right: auto;
}

.login {
    border-radius: 5px;
    background-color: aqua;
    text-decoration: none;
    padding: 0.5rem 1.4rem;
    color: black;
}

.register {
    border-radius: 5px;
    background-color: aquamarine;
    text-decoration: none;
    padding: 0.5rem 1.4rem;
    color: black;
}

.searchBar {
    padding: 0.3rem;
    margin-left: 1rem;   
}

.selected {
    border-bottom: 1.2px solid black;
}