.sideBar {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 2rem;

  & p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    width: 20%;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-left: 1rem;
  }
}

.setWrapper {
  display: flex;
  padding: 0.5rem 2rem 2rem 2rem;
  gap: 2rem;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
}

.navButton {
  width: 4rem;
  height: 4rem;
  cursor: pointer; 
  background-color: white;
}