.setReviewForm {
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10%;
    border: 2px solid white;
    border-radius: 5px;
}

.formSeparator {
  display: flex;
  justify-content: space-between;
  gap: 2rem;  

  & input {
    padding: 0.2rem;
  }
}

.submitButton {
    padding: 0.4rem 0.6rem;
    width: 7rem;
    margin-left: auto;
}