.aboutContentWrapper {
    display: flex;
    justify-content: center;
    background-color: #E87F24;
    padding: 2rem; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 3rem;
}