.tagStyles {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    gap: 6px;
    color: black;
    padding: 5px;
    width: 10rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-left: 5px solid black;
    border-radius: 10px;
    cursor: pointer;

    & p {
        margin-left: 5px;
    }

    & button {
        width: 10px; 
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px; 
        padding: 10px 10px;
        cursor: pointer;
    }

    & .icon {
        color: black;
        font-size: 0.8rem;
    }
}

.isSelected {
    border-left: 5px solid red;
    background-color: yellow;
}

.tagButtons {
    display: flex; 
    margin-left: auto;
    gap: 0.2rem;
}

