.cardWrapper {
    display: flex; 
    justify-content: center;
    gap: 5rem;
    padding: 0.3rem; 
}

.cardInformation {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 55%;
    gap: 1.2rem;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

textarea {
    padding: 5px;
}

.addTrophyButton {
    margin-left: auto;
    background-color: #fff;
}

.header {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

.backWrap {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0.4rem;
}

.mechs {
    background-color: black;
    padding: 3px;
    margin-bottom: auto;
    border-bottom: 3px solid yellow;
}

.navButton {
    padding: 10px;
    display: flex;

    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 500;
    box-shadow: 5px 5px 5px black;
}