.image {
    width: 300px; 
    height: auto;
    border-radius: 20px;
    margin: 0;
}

.setReviewSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fallBack {
    display: flex;
    flex-direction: column;
}

.title {
    align-self: flex-start;
    border-bottom: 4px solid white;
}