.widgetWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 0.5rem;
}

.panelButton, .lockedButton, .lockInButton, .deleteButton {
  display: inline-block;
  text-align: center;
  width: 50%;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 3px solid white;
  font-size: 1rem;
  color: #fff;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 0.2rem;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

.panelButton:hover {
  border-color: #646cff;
}
.panelButton:focus,
.panelButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.deleteButton {
  color: red;
}

.lockedButton {
  background-color: gold;
  color: black;
  text-shadow: none;
  border-color: black;
}