.mechanisms {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.cardContainer {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.partitionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.saveButton {
  background-color: #FFF;
  text-decoration: none;
  color: black;
  padding: 0.4rem;
  border-radius: 5px; 
  border: 5px solid black;
  margin-right: auto;
}