.mechanisms {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.cardContainer {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.partitionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.saveButton {
  padding: 0.2rem;
}