.partition {
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
}

.label {

    display: flex;
    box-shadow: 5px 5px black;
    background-color: white;
    color: black;
    align-items: center;

    & h1 {
        padding: 0.4rem;
        font-size: 1.5rem;    
    }
}
