.title {
    font-size: 6rem;
}

.aboutWrapper {
    background-color: #fdcb6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 64px;
    gap: 2rem;
}

.aboutCaption {
    font-size: 3rem;
    color: black;
}

.squareWrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 3rem;
}