.setReviewWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.trophyListWrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
}

.navButton {
  width: 4rem;
  height: 4rem;
  cursor: pointer; 
  background-color: white;
}