.trophy, .addTrophy {
    border-radius: 50%;
    color: gold;
    background-color: brown;
    width: 50px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.addTrophy {
    background-color: white;
    color: black;
    border-style: dashed;
}

.trophyWrapper, .addTrophyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    position: relative;

    & p {
        font-size: 0.5rem;
    }
}

.addTrophyWrapper {
    margin-left: auto;
}

.absolute {
    position: absolute;
    bottom: -20px;
    left: -40px;
    background-color: white;
    color: black;
    width: 8rem;
    font-weight: 600;
    padding: 0.2rem;
    z-index: -100;
    border-radius: 5px;
}