.displayWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.title {
    background-color: white;
    color: black;
    box-shadow: 5px 5px black;
    align-self: flex-start;
    padding: 0.2rem 0.4rem;
}

.pageWrapper {
    display: flex;
}