.title {
    color: red;
    font-size: 6rem;
}

.aboutWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 64px;
}

.aboutCaption {
    font-size: 3rem;
    color: black;
}

.squareWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
}

.aboutContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}