.pageWrapper {
    display: flex;
    justify-content: space-around;
    flex: 1;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;

    & div {
        display: flex;
        gap: 1rem;
        margin-top: 5rem;
    }
}

.text {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 4.9rem;
}

.up {
    display: inline-block;
    position: relative;
    top: -1rem;
    transform: rotate(-3deg);
    color: #E53935; 
}

.down {
    position: relative;
    top: 1rem;
    display: inline-block;
    transform: rotate(2deg);
    color:#1E88E5;
}

.homeButton {
    background-color: aliceblue;
}

.link {
    width: 200px;
    font-weight: 300;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
    color: black;
}

.beta {
    align-self: flex-end;
    justify-self: flex-end;
    background-color: orangered;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    font-weight: 800;
}

.linkWrapper {
    font-weight: 700;
}