.pageWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    /*nav height */ 
    height: calc(100vh - 64px);
    padding: 1.5rem;
}

.front {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    width: 100%;
    margin-top: 5%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    & div {
        display: flex;
        gap: 1rem;
        margin-top: 0.2rem;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.caption {
    font-size: 2rem;
    margin-top: -2.5rem;
}

.title {
    font-size: 7.5rem;
    margin: 0;
    padding: 0;
}

.title:nth-child(2) {
    margin-top: -5rem;
}

.up {
    display: inline-block;
    position: relative;
    top: -1rem;
    transform: rotate(-3deg);
    color: #E53935; 
}

.down {
    position: relative;
    top: 1rem;
    display: inline-block;
    transform: rotate(2deg);
    color:#1E88E5;
}

.homeButton {
    background-color: aliceblue;
}

.link {
    width: 200px;
    font-weight: 300;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 3rem;
}

.linkDiv {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.moreLink {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.linkWrapper {
    font-weight: 700;
}