.sideBar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
  gap: 2rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
  border-radius: 20px; 
  border: 5px outset black;
  flex: 2;
  max-height: 600px;
  background-color: #3F3F4E;
}

.sideBarEdit {
  background-color: orangered;
}

.paddedContent {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.leftButton {
  height: 100px;
  width: 40px;
  border-left: 5px solid black;
  border-radius: 20px 0px 0px 20px;
  align-self: flex-end;
  font-weight: 900;
  cursor: pointer;
}