.setReviewWrapper {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(8rem, 1fr) );
  gap: 1.2rem;
}   

.addSet {
  display: inline-block;
  text-align: center;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px black;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
}

.addSet:hover {
  border-color: #646cff;
}
.addSet:focus,
.addSet:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}